:root {
  --gb-web-grey: #C9C9C9;
  --gb-web-grey-medium: #999999;
  --gb-web-grey-dark: #636366;
  --gb-web-blue: #0A84FF;
  --gb-web-text: #C9C9C9;
  --gb-web-background: #E5E5E5;
  --gb-white: #ffffff;
  --gb-red: #DE5145;
  --gb-green: #33AB77;
}

* {
  box-sizing: border-box;
}

button {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  
  font-size: 16px;
  line-height: 14px;
  padding: 0px;
  cursor: pointer;
  color: var(--gb-white);
  outline: none;
}

button:hover {
  opacity: .6;
}

button:disabled {
  opacity: .6;
}

button.primary {
  background-color: var(--gb-web-blue);
}

button.green {
  background-color: var(--gb-green);
}

button.transparent {
  background-color: transparent;
  color: var(--gb-web-text);
  font-size: 14px;
  font-weight: 400;
}

h1 {
  color: var(--gb-white);
  font-family: var(--gb-font-primary);
  font-weight: 700;
  line-height: 30px;
  font-size: 24px;
}

p {
  color: var(--gb-web-text);
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

input {
  width: 360px;
  height: 30px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
}

input.bordered {
  border: 1px solid var(--gb-white);
  border-radius: 6px;
  padding-left: 8px;
  height: 40px;
}

input::placeholder {
  color: var(--gb-web-grey-dark);
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 8px;
  text-transform: lowercase;
}

.danger {
  color: var(--gb-red);
}

.success {
  color: var(--gb-green);
}