.md .theme-dark, .md.theme-blue {
  --f7-page-bg-color: var(--gb-dark-grey);
  --f7-searchbar-input-bg-color:#000000;
  --f7-text-editor-bg-color: #000000;
  --f7-list-bg-color: #000000;
}

.aurora .theme-dark, .aurora.theme-dark {
  --f7-page-bg-color: var(--gb-dark-grey);
  --f7-searchbar-input-bg-color: var(--gb-dark-grey);
  --f7-text-editor-bg-color: var(--gb-dark-grey);
  --f7-list-bg-color: var(--gb-dark-grey);
  --f7-navbar-border-color: var(--gb-dark-grey);
  --f7-bars-border-color: var(--gb-dark-grey);
  --f7-list-item-border-color: var(--gb-dark-grey);
}

:root {
  --f7-theme-color: var(--gb-accent);
  --f7-theme-color-shade: var(--gb-accent);
  --f7-theme-color-tint: var(--gb-accent);
  --f7-theme-color-rgb: 108, 99, 255;
  --f7-list-bg-color: #000000;
  --f7-navbar-bg-color: var(--gb-dark-grey);
  --f7-searchbar-input-bg-color: #000000;
  --f7-list-bg-color: #000000;
  --f7-bars-link-color: #ffffff;
  --f7-searchbar-search-icon-color: #ffffff;
  --f7-page-bg-color: var(--gb-dark-grey);
  
  --gb-black: #000000;
  --gb-white: #ffffff;
  --gb-dark-grey: #222222;
  --gb-medium-dark-gray: #636366;
  --gb-medium-grey: #999999;
  --gb-light-grey: #EFEFEF;
  --gb-green: #33AB77;
  --gb-red: #F14741;
  --gb-accent: #337AF1;

  --gb-max-width: 125px;
  --gb-message-width: 125px;
  --gb-message-height: 136px;
  
  --gb-back-z-index: 2;
  --gb-record-z-index: 2;

  --gb-gallery-height: 120px;

  --f7-toggle-active-color: var(--gb-green);
  --f7-toggle-height: 24px;
  --f7-toggle-width: 40px;
  --f7-toggle-inactive-color: #ffffff;
}